In [13]:
import re

In [33]:
'\.'.join(('([0-9]+)',)*4)

'([0-9]+)\\.([0-9]+)\\.([0-9]+)\\.([0-9]+)'

In [42]:
re.findall('^'+'\.'.join(('([0-9]+)',)*4)+'$', '1.12.255.36.6')

IndexError: list index out of range

In [44]:
    pattern = '\.'.join(('([0-9]+)',)*4)
    pattern = ''.join(('^', pattern, '$'))

In [1]:
import plotly.express as px

%config Completer.use_jedi = False

%load_ext autoreload
%autoreload 2
import types
import table as xlr
from table import MappedSequence, MappedTable
import sqlite_wrap as sql
from table.utils import is_scalar
from table.ordered_set import OrderedSet

import pandas as pd
from pprint import PrettyPrinter
pp = PrettyPrinter()

In [2]:
from statistics import mean, stdev

In [3]:
table = xlr.read_excel('./experiment.xlsx', skiprows=0)

In [4]:
table['experiment_1']

0	96.87606524104423
1	87.30133583529451
2	97.69131206443264
3	102.9781523723607
4	87.10699272862476
...	...
95	108.1569641420406
96	91.73999230125185
97	95.41034685726757
98	106.3624059256788
99	94.2692372873789
Name: experiment_1, Length: 100

In [12]:
table.pivot('gender', 'group', 'experiment_1')

None: (0	male
1	female
Name: gender, Length: 2, 0	101.1297588346035
1	102.8851561472873
Name: treatment, Length: 2, 0	100.19301793750375
1	100.98629772280077
Name: control, Length: 2)

In [6]:
table.gender.unique()

('male', 'female')

In [ ]:
stdev(table.where(gender='male', group='control').experiment_1)

In [11]:
table[table.gender.where('male'),:]

None: (0	96.87606524104423
2	97.69131206443264
4	87.10699272862476
6	101.9678961067528
8	115.4123543992809
...	...
90	100.1774926979853
92	101.3205252320304
94	102.7706253993933
96	91.73999230125185
98	106.3624059256788
Name: experiment_1, Length: 50, 0	93.41794186205836
2	106.1879158374786
4	107.0199854796267
6	95.08891880671696
8	105.137937625817
...	...
90	104.6737003474494
92	105.7112908393863
94	129.0022736782971
96	111.1253771258949
98	115.5223822770017
Name: experiment_2, Length: 50, 0	73.03319261806172
2	103.4227094529888
4	72.14029211350231
6	111.8168521663685
8	96.28039576038485
...	...
90	73.25099641056535
92	73.73084439286062
94	52.11112167838937
96	64.26099304241377
98	123.4696885425277
Name: experiment_3, Length: 50, 0	male
2	male
4	male
6	male
8	male
...	...
90	male
92	male
94	male
96	male
98	male
Name: gender, Length: 50, 0	control
2	treatment
4	control
6	treatment
8	control
...	...
90	treatment
92	control
94	treatment
96	control
98	treatment
Name: group, Length: 50)

In [ ]:
table[['group', 'gender']].unique()

In [ ]:
table[table.gender.where('male'), :]

In [ ]:
dict(zip(['group', 'gender'], ['control', 'female']))

In [ ]:
table.group.unique()

In [ ]:
table.where()

In [ ]:
table[table.group.where('control'), :]

In [ ]:
table[table.group.where('control'), :]

In [ ]:
db = sql.DataModel()

In [ ]:
columns = ['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']
dtypes = [float for value in columns]

In [ ]:
db.create_table('iris', columns, dtypes)